<!DOCTYPE html>
<html>
    <header>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Hello</title>
    </header>
    <body>
        <h1>Hello</h1>
        <p>{{time}}</p>
    </body>
</html>